body {
  background-color: gray;
}

h1 {
  background-color: gray;
  color: white;
  font-family: "Verdana";
  
  padding-left: 10%;
  padding-right: 10%;
}

textarea {
  background-color: gray;
  color: white;
  font-family: "Verdana";
  font-size: 18px;
  
  max-width: 60ch;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

::placeholder {
  background-color: gray;
  color: white;
  font-family: "Verdana";
  font-size: 18px;
}
